@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.bleue {
    color: #0065FC;
}

.grise {
    color :#ccc;
}

/* HEADER */ 

header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . bouton" "nav nav nav";
}

#logo {
    grid-area : logo;
}

#nav {
    grid-area : nav;
    display: flex;
    align-items: center;
}

#bouton {
    grid-area : bouton;
    color: #0065FC;
    font-weight :600;
}

.lien {
    width: 50%;
    text-align: center;
    padding: 2rem;
    font-weight: 600;
    border-bottom: 3px solid #f2f2f2;
    
}

.lien-hebergement{
    border-bottom: 3px solid #0065FC;
    color : #0065FC;
}

/* MAIN */

    /* RECHERCHE */

    .container-bouton-rechercher {
        background-color: #0065FC; 
        color:#fff; 
        padding:10px;
        border-radius: 10px;
    }

    .bouton-rechercher{
        display: none;
    }

    .fa-map-marker-alt {
        color: #0065FC;
        margin: 10px;
    }
    .recherche-gauche{
        background-color:#f2f2f2; 
        padding:1rem 1.25rem; 
        border-radius: 1rem 0 0 1rem;  
    }

    /* FILTRES */

    .filtre{
        border:2px solid #d9d9d9;
        border-radius: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .filtre-gauche{
        background-color: #deebff;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC
    }

    /* HEBERGEMENTS */

        /* POPULAIRES */

        .populaires-hebergements{
            grid-template-columns: 1fr;
            background: #f2f2f2;
            padding: 15px;
            column-gap: 20px;
            row-gap: 20px;
            width: 100%;
            display: grid;
        }

        .populaires-hebergements h3{
            display: flex;
            justify-content: space-between;
        }

        .hebergements-vignette-populaires{
            border-radius: 15px;
            padding: 5px;
            height: 100%;
            background-color: #f2f2f2;
            display: flex;
            align-items: stretch;
            overflow:auto;
            box-sizing: border-box;
        }        

        .hebergements-populaires-figure{
            margin: 0;
            position: relative;
            min-height: 100%;
            width: 33%;
            min-width: 33%;
            max-width: 33%;   
        }

        .hebergements-populaires-figure img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 0 0 15px ;
            position:absolute;
        }

        .hebergements-vignette-texte{
            display: flex;
            flex-direction: column;
        }

        .bleue{
            color: #0065FC;
        }

        .grise{
            color: #f2f2f2; 
        }

       

        /* MARSEILLE */

        .marseille{
            display:grid;
            grid-template-columns: 1fr;
            width: 100%;
            padding: 15px;
            column-gap: 20px;
            row-gap: 20px;
            background: #f2f2f2;
        }

        .hebergements-vignette{
            border-radius: 15px;
            padding:5px;
            height: 100%;
            background-color: #f2f2f2;
            box-shadow: 0 0 16px #000000;
            box-sizing: border-box;
        }

        .hebergements-figure{
            margin: 0;
        }

        .hebergements-figure img{
            width: 100%;
            max-height: 10%;
            height: 7rem;
            object-fit: cover;
            border-radius: 15px 15px 0 0 ;    
        }

        .hebergements-figure h3{
            margin: 5px 0 0 5px;
        }

        .hebergements-vignette p {
            margin: 2px 5px;
        }

        .hebergement-notation{
            margin: 2px 5px;
        }

    /* ACTIVITES */
    .Activité-vignette {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .Activité-figure img {
        border-radius: 25px 25px 0 0 ;
        height: 10rem;
        object-fit: cover;
    }



/* FOOTER */

.footer {
    background-color: #f2f2f2;
    padding: 0 30px;
    display:flex; 
    justify-content: space-between;
}

.footer-colonne {
    display: inline-flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}

.footer-colonne a {
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
}


