/*header*/ 
/*hebergement*/
.heberge a{
    text-decoration: none;
    display: inline;
}

.heberge {
    display: inline;
}
/*hebergement*/

/*activité*/
.activité a {
 text-decoration: none;
 display: inline;
}

.activité {
    display: inline;
}
/*activité*/

/*s'inscrire*/
.sinscrire {

}

.sinscrire a {
    text-decoration: none;
}
/*s'inscrire*/


/*main*/

/*fond bleu*/
.fond {
    background-color: cornflowerblue;
}
/*fond bleu*/











/*footer*/

.footer {
    background-color: #f2f2f2;
    padding: 0 30px;
}

.footer-colonne {
    display: inline-flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}

.footer-colonne a {
    margin: 10px 0;
    text-decoration: none;
    text-align: center;